body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas: 
     'header header header'
     'sidenav main sponsors'
     'footer footer footer';
    grid-template-columns: auto auto 200px;
 
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: #35424a;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    grid-area: header;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin-left: 30px;
    margin-top: 0;
    color: #e8491d;
    grid-area: header;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight{
    color:#ffffff;
    font-weight: bold;
}

header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Sidebar*/
.sidenav {
    height: 530px;
    width: 240px;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    grid-area: sidenav;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
  
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}
  
/* Main content */
.main {
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main li{
    list-style-type: none;
}
  
/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
  
/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

table{
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

table#table tr:nth-child(even) {
    background-color: #eee;
}

table#table tr:nth-child(odd) {
   background-color: #fff;
}
  
table#table th {
    background-color: black;
    color: white;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    grid-area: footer;
}

